* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #002339;
  color: #fff;
}

b {
  font-size: 60px;
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.container {
  margin: 6%;
  width: 90%;
  max-width: 700px;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
  position: relative;
}

.clear {
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  color: #535353;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: none;
  outline: none;
  font-size: 24px;
}

button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

button img {
  width: 28px;
  margin-right: 10px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  font-size: 24px;
  bottom: 180%;
  left: 0%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
